.Employee-item {
  td {
    vertical-align: middle;
    img {
      border-radius: 50px;
      width: 40px;
    }
    &:nth-child(1) {
      font-weight: 400;
    }
    &:nth-child(3) {
      text-align: left;
    }
    &:last-child {
      a {
        margin: 0 5px;
      }
    }
  }
}